$asideWidth: 50% !default;
$asideTxt: px2rem(36) !default;
$asideColor: #fff !default;
$majorTxt: px2rem(40) !default;
$majorColor: #fff !default;
.content {
    position: absolute;
    top: $headerHeight;
    left: $tabWidth;
    right: 0;
    bottom: $tabHeight;
    display: flex;
    flex-direction: row;
}

.aside {
    width: $asideWidth;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    .aisde-title {
        font-size: $asideTxt;
        color: $asideColor;
        line-height: 100%;
    }
    .aside-sub_title {
        font-size: $asideTxt;
        color: $asideColor;
        line-height: 100%;
    }
}

.major {
    width: (100% - $asideWidth);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .major-title {
        font-size: $majorTxt;
        color: $majorColor;
        line-height: 100%;
    }
    .major-sub_title {}
}