.layout-column {
    @extend %flexBox;
    width: 100%;
    .col {
        flex: 1;
        position: relative;
        text-align: center;
    }
}

.row {
    @extend %flexBox;
    width: 100%;
    position: relative;
    .col {
        display: block;
        flex: 1;
        text-align: center;
    }
    .col-3,
    .col-3-3,
    .col-4,
    .col-4-4,
    .col-5,
    .col-5-5 {
        width: 100%;
    }
    .col-3-1 {
        width: 33.333333%;
    }
    .col-3-2 {
        width: 66.666666%;
    }
    .col-4-1 {
        width: 25%;
    }
    .col-4-2 {
        width: 50%;
    }
    .col-4-3 {
        width: 75%;
    }
    .col-5-1 {
        width: 20%;
    }
    .col-5-2 {
        width: 40%;
    }
    .col-5-3 {
        width: 60%;
    }
    .col-5-4 {
        width: 80%;
    }
}

.grids-contant {
    @extend %flexBox;
    &.row {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    &.col {
        flex-direction: column;
        // 需要知道外层容器高度，
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: flex-start;
    }
    .grids-grid {
        // flex: 1;
        // flex-shrink: 0;
    }
}