$headerHeight: px2rem(120) !default;
$headerBackground: #fff !default;
$headerTxt: px2rem(72) !default;
$headerColor: #000 !default;
.header {
    position: absolute;
    top: 0;
    right: 0;
    left: $tabWidth;
    height: $headerHeight;
    @extend %flexBox;
    justify-content: space-between;
    align-items: center;
    .header-background {
        @extend %flurBlur;
        background-color: $headerBackground;
    }
    .header-title {
        font-size: $headerTxt;
        color: $headerColor;
        white-space: nowrap;
        line-height: 100%;
    }
    .header-toolbar {
        @extend %flexBox;
        justify-content: space-between;
        align-items: center;
    }
    .header-button {}
}

.tab-content.tab-col {
    .header {}
}