/* Compass */
/* Helper */
/* line 85, ../../sass/helper/_mixin.scss */
.t-line {
  position: relative;
}
/* line 87, ../../sass/helper/_mixin.scss */
.t-line:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid #ccc;
  color: #ccc;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.501);
  transform: scaleY(0.501);
}

/* line 92, ../../sass/helper/_mixin.scss */
.r-line {
  position: relative;
}
/* line 94, ../../sass/helper/_mixin.scss */
.r-line:before {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  border-right: 1px solid rgba(207, 207, 207, 0.95);
  color: rgba(207, 207, 207, 0.95);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: scaleX(0.501);
  transform: scaleX(0.501);
}

/* line 99, ../../sass/helper/_mixin.scss */
.b-line {
  position: relative;
}
/* line 101, ../../sass/helper/_mixin.scss */
.b-line:before {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid rgba(207, 207, 207, 0.95);
  color: rgba(207, 207, 207, 0.95);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: scaleY(0.501);
  transform: scaleY(0.501);
}

/* line 106, ../../sass/helper/_mixin.scss */
.l-line {
  position: relative;
}
/* line 108, ../../sass/helper/_mixin.scss */
.l-line:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  border-left: 1px solid rgba(207, 207, 207, 0.95);
  color: rgba(207, 207, 207, 0.95);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleX(0.501);
  transform: scaleX(0.501);
}

/* line 113, ../../sass/helper/_mixin.scss */
.box-line {
  position: relative;
}
/* line 115, ../../sass/helper/_mixin.scss */
.box-line:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  border: 1px solid rgba(207, 207, 207, 0.95);
  border-radius: 0;
  color: rgba(207, 207, 207, 0.95);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(0.501);
  transform: scale(0.501);
  pointer-events: none;
}

/**
 * sass font size manage
 * */
/**
 * flexible
 * */
/* line 24, ../../sass/helper/_variable.scss */
html, body, .mask-background {
  width: 100%;
  height: 100%;
}

/* line 30, ../../sass/helper/_variable.scss */
.tab-bar, .tab-bar .tab-button, .pop-window .pop-header, .pop-window .pop-header_title, .pop-window .pop-close, .pop-window .pop-down_close {
  display: -webkit-flex;
  display: flex;
}

/* line 36, ../../sass/helper/_variable.scss */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

/* line 45, ../../sass/helper/_variable.scss */
.devider {
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
  min-height: 1rem;
}

/* line 58, ../../sass/helper/_variable.scss */
.tab-bar, .tab-bar .tab-button, .pop-window .pop-header_title, .pop-window .pop-close, .pop-window .pop-down_close {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

/* line 68, ../../sass/helper/_variable.scss */
.view-container, .tab-content, .pop-window .pop-content, .wrapper {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

/* line 2, ../../sass/helper/_base.scss */
html {
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  touch-action: pan-y;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
  font-size: 10px;
}

/* line 16, ../../sass/helper/_base.scss */
body {
  font-size: 1.6rem;
  word-wrap: break-word;
  font-family: -apple-system-font, "Helvetica Neue", "Roboto", "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-backface-visibility: hidden;
  -webkit-user-drag: none;
  overflow: hidden;
  color: #fff;
}

/* line 28, ../../sass/helper/_base.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 33, ../../sass/helper/_base.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 40, ../../sass/helper/_base.scss */
a img {
  border: 0;
}

/* line 44, ../../sass/helper/_base.scss */
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: #646464;
}

/* line 50, ../../sass/helper/_base.scss */
li {
  list-style: none;
}

/* line 54, ../../sass/helper/_base.scss */
iframe {
  border: none;
  background: #fff;
}

/* Module */
/* line 6, ../../sass/module/_tab.scss */
.view-container {
  overflow: hidden;
}

/* line 11, ../../sass/module/_tab.scss */
.tab-bar {
  -moz-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  width: 100%;
  height: inherit;
}
/* line 17, ../../sass/module/_tab.scss */
.tab-bar .tab-button {
  flex-direction: column;
  flex: 1;
  max-width: 2.4rem;
}

/* line 26, ../../sass/module/_tab.scss */
.tab-button_txt {
  white-space: nowrap;
  font-size: #fdfdfd;
  color: #fff;
}

/* line 32, ../../sass/module/_tab.scss */
.tab-button_icon {
  width: 0.5rem;
  height: 0.5rem;
}

/* line 37, ../../sass/module/_tab.scss */
.tab-content {
  bottom: 0.8rem;
}
/* line 40, ../../sass/module/_tab.scss */
.tab-content.active {
  display: block;
}
/* line 43, ../../sass/module/_tab.scss */
.tab-content.cached {
  display: none;
}

/* line 7, ../../sass/module/_dialog.scss */
.mask-background {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  opacity: 1;
  background-color: #000;
}
/* line 16, ../../sass/module/_dialog.scss */
.mask-background.open {
  display: block;
}

/* line 21, ../../sass/module/_dialog.scss */
.pop-window {
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 1000;
}
/* line 30, ../../sass/module/_dialog.scss */
.pop-window .pop-header {
  position: relative;
  align-items: center;
  z-index: 10;
  height: 0.8rem;
}
/* line 37, ../../sass/module/_dialog.scss */
.pop-window .pop-header_title {
  font-size: 0.24rem;
  color: #fff;
}
/* line 43, ../../sass/module/_dialog.scss */
.pop-window .pop-close {
  z-index: 1;
}
/* line 47, ../../sass/module/_dialog.scss */
.pop-window .pop-close .icon {
  width: 0.5rem;
  height: 0.5rem;
}
/* line 52, ../../sass/module/_dialog.scss */
.pop-window .pop-content {
  top: 0.8rem;
}
/* line 56, ../../sass/module/_dialog.scss */
.pop-window.open {
  display: block;
}
/* line 59, ../../sass/module/_dialog.scss */
.pop-window .pop-down_close {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
/* line 66, ../../sass/module/_dialog.scss */
.pop-window .pop-down_close .icon {
  width: 0.5rem;
  height: 0.5rem;
}

/* Layout */
/* line 1, ../../sass/layout/_util.scss */
.wrapper {
  bottom: 0.8rem;
}
