/* Compass */
/* Helper */
/* line 85, ../../sass/helper/_mixin.scss */
.t-line {
  position: relative;
}
/* line 87, ../../sass/helper/_mixin.scss */
.t-line:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid #ccc;
  color: #ccc;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.501);
  transform: scaleY(0.501);
}

/* line 92, ../../sass/helper/_mixin.scss */
.r-line {
  position: relative;
}
/* line 94, ../../sass/helper/_mixin.scss */
.r-line:before {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  border-right: 1px solid rgba(207, 207, 207, 0.95);
  color: rgba(207, 207, 207, 0.95);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: scaleX(0.501);
  transform: scaleX(0.501);
}

/* line 99, ../../sass/helper/_mixin.scss */
.b-line {
  position: relative;
}
/* line 101, ../../sass/helper/_mixin.scss */
.b-line:before {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid rgba(207, 207, 207, 0.95);
  color: rgba(207, 207, 207, 0.95);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: scaleY(0.501);
  transform: scaleY(0.501);
}

/* line 106, ../../sass/helper/_mixin.scss */
.l-line {
  position: relative;
}
/* line 108, ../../sass/helper/_mixin.scss */
.l-line:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  border-left: 1px solid rgba(207, 207, 207, 0.95);
  color: rgba(207, 207, 207, 0.95);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleX(0.501);
  transform: scaleX(0.501);
}

/* line 113, ../../sass/helper/_mixin.scss */
.box-line {
  position: relative;
}
/* line 115, ../../sass/helper/_mixin.scss */
.box-line:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  border: 1px solid rgba(207, 207, 207, 0.95);
  border-radius: 0;
  color: rgba(207, 207, 207, 0.95);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(0.501);
  transform: scale(0.501);
  pointer-events: none;
}

/**
 * sass font size manage
 * */
/**
 * flexible
 * */
/* line 24, ../../sass/helper/_variable.scss */
html, body, .mask-background, .wrapper {
  width: 100%;
  height: 100%;
}

/* line 30, ../../sass/helper/_variable.scss */
.tab-bar, .tab-bar .tab-button, .pop-window .pop-header, .pop-window .pop-header_title, .pop-window .pop-close, .pop-window .pop-down_close, .header, .header .header-toolbar, .layout-column, .row, .grids-contant {
  display: -webkit-flex;
  display: flex;
}

/* line 36, ../../sass/helper/_variable.scss */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

/* line 45, ../../sass/helper/_variable.scss */
.devider {
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
  min-height: 1rem;
}

/* line 58, ../../sass/helper/_variable.scss */
.tab-bar, .tab-bar .tab-button, .pop-window .pop-header_title, .pop-window .pop-close, .pop-window .pop-down_close {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

/* line 68, ../../sass/helper/_variable.scss */
.view-container, .tab-content, .pop-window .pop-content, .header .header-background {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

/* line 2, ../../sass/helper/_base.scss */
html {
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  touch-action: pan-y;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
  font-size: 10px;
}

/* line 16, ../../sass/helper/_base.scss */
body {
  font-size: 0.16rem;
  word-wrap: break-word;
  font-family: -apple-system-font, "Helvetica Neue", "Roboto", "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-backface-visibility: hidden;
  -webkit-user-drag: none;
  overflow: hidden;
  color: #fff;
}

/* line 28, ../../sass/helper/_base.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 33, ../../sass/helper/_base.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 40, ../../sass/helper/_base.scss */
a img {
  border: 0;
}

/* line 44, ../../sass/helper/_base.scss */
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: #646464;
}

/* line 50, ../../sass/helper/_base.scss */
li {
  list-style: none;
}

/* line 54, ../../sass/helper/_base.scss */
iframe {
  border: none;
  background: #fff;
}

/* Theme */
/* Module */
/* Layout */
/* Module */
/* line 9, ../../sass/module/_tab.scss */
.view-container {
  overflow: hidden;
}

/* line 14, ../../sass/module/_tab.scss */
.tab-bar {
  -moz-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  width: 100%;
  height: inherit;
  background-color: #333;
}
/* line 21, ../../sass/module/_tab.scss */
.tab-bar .tab-button {
  flex-direction: column;
  flex: 1;
  max-width: 2.4rem;
}
/* line 28, ../../sass/module/_tab.scss */
.tab-bar.tab-col {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* line 37, ../../sass/module/_tab.scss */
.tab-bar.tab-col .tab-button {
  max-height: 1.2rem;
}

/* line 43, ../../sass/module/_tab.scss */
.tab-button_txt {
  white-space: nowrap;
  font-size: #fdfdfd;
  color: #666;
}

/* line 49, ../../sass/module/_tab.scss */
.tab-button_icon {
  width: 0.5rem;
  height: 0.5rem;
}

/* line 56, ../../sass/module/_tab.scss */
.tab-content.active {
  display: block;
}
/* line 59, ../../sass/module/_tab.scss */
.tab-content.cached {
  display: none;
}

/* line 7, ../../sass/module/_dialog.scss */
.mask-background {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  opacity: 0.95;
  background-color: #333;
}
/* line 16, ../../sass/module/_dialog.scss */
.mask-background.open {
  display: block;
}

/* line 21, ../../sass/module/_dialog.scss */
.pop-window {
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 1000;
}
/* line 30, ../../sass/module/_dialog.scss */
.pop-window .pop-header {
  position: relative;
  align-items: center;
  z-index: 10;
  height: 0.8rem;
}
/* line 37, ../../sass/module/_dialog.scss */
.pop-window .pop-header_title {
  font-size: 0.24rem;
  color: #fff;
}
/* line 43, ../../sass/module/_dialog.scss */
.pop-window .pop-close {
  z-index: 1;
}
/* line 47, ../../sass/module/_dialog.scss */
.pop-window .pop-close .icon {
  width: 0.5rem;
  height: 0.5rem;
}
/* line 52, ../../sass/module/_dialog.scss */
.pop-window .pop-content {
  top: 0.8rem;
}
/* line 56, ../../sass/module/_dialog.scss */
.pop-window.open {
  display: block;
}
/* line 59, ../../sass/module/_dialog.scss */
.pop-window .pop-down_close {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
/* line 66, ../../sass/module/_dialog.scss */
.pop-window .pop-down_close .icon {
  width: 0.5rem;
  height: 0.5rem;
}

/* Layout */
/* line 6, ../../sass/layout/_util.scss */
.test {
  color: #ffffff;
}

/* line 5, ../../sass/layout/_header.scss */
.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 1.2rem;
  justify-content: space-between;
  align-items: center;
}
/* line 14, ../../sass/layout/_header.scss */
.header .header-background {
  background-color: #fff;
}
/* line 18, ../../sass/layout/_header.scss */
.header .header-title {
  font-size: 0.72rem;
  color: #333;
  white-space: nowrap;
  line-height: 100%;
}
/* line 24, ../../sass/layout/_header.scss */
.header .header-toolbar {
  justify-content: space-between;
  align-items: center;
}

/* line 6, ../../sass/layout/_content.scss */
.content {
  position: absolute;
  top: 1.2rem;
  left: 0;
  right: 0;
  bottom: 0.8rem;
  display: flex;
  flex-direction: row;
}

/* line 16, ../../sass/layout/_content.scss */
.aside {
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
/* line 21, ../../sass/layout/_content.scss */
.aside .aisde-title {
  font-size: 0.36rem;
  color: #fff;
  line-height: 100%;
}
/* line 26, ../../sass/layout/_content.scss */
.aside .aside-sub_title {
  font-size: 0.36rem;
  color: #fff;
  line-height: 100%;
}

/* line 33, ../../sass/layout/_content.scss */
.major {
  width: 50%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
/* line 38, ../../sass/layout/_content.scss */
.major .major-title {
  font-size: 0.4rem;
  color: #fff;
  line-height: 100%;
}

/* line 1, ../../sass/layout/_section.scss */
.section {
  display: flex;
}

/* line 1, ../../sass/layout/_footer.scss */
.tab-bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0.8rem;
}

/* line 1, ../../sass/layout/_grid.scss */
.layout-column {
  width: 100%;
}
/* line 4, ../../sass/layout/_grid.scss */
.layout-column .col {
  flex: 1;
  position: relative;
  text-align: center;
}

/* line 11, ../../sass/layout/_grid.scss */
.row {
  width: 100%;
  position: relative;
}
/* line 15, ../../sass/layout/_grid.scss */
.row .col {
  display: block;
  flex: 1;
  text-align: center;
}
/* line 20, ../../sass/layout/_grid.scss */
.row .col-3,
.row .col-3-3,
.row .col-4,
.row .col-4-4,
.row .col-5,
.row .col-5-5 {
  width: 100%;
}
/* line 28, ../../sass/layout/_grid.scss */
.row .col-3-1 {
  width: 33.333333%;
}
/* line 31, ../../sass/layout/_grid.scss */
.row .col-3-2 {
  width: 66.666666%;
}
/* line 34, ../../sass/layout/_grid.scss */
.row .col-4-1 {
  width: 25%;
}
/* line 37, ../../sass/layout/_grid.scss */
.row .col-4-2 {
  width: 50%;
}
/* line 40, ../../sass/layout/_grid.scss */
.row .col-4-3 {
  width: 75%;
}
/* line 43, ../../sass/layout/_grid.scss */
.row .col-5-1 {
  width: 20%;
}
/* line 46, ../../sass/layout/_grid.scss */
.row .col-5-2 {
  width: 40%;
}
/* line 49, ../../sass/layout/_grid.scss */
.row .col-5-3 {
  width: 60%;
}
/* line 52, ../../sass/layout/_grid.scss */
.row .col-5-4 {
  width: 80%;
}

/* line 59, ../../sass/layout/_grid.scss */
.grids-contant.row {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
/* line 64, ../../sass/layout/_grid.scss */
.grids-contant.col {
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
}
